.cart_item_wrapper {
    padding: 40px 0;

    position: relative;

    display: flex;
    gap: 30px;
    
    border-bottom: 1px solid #a7a7a7;
}

.cart_image {
    width: 192px;
    height: 166px;
    border-radius: 10px;
    object-fit: cover;
}

.counter_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cart_item_title {
    width: 320px;
    font-weight: var(--medium-text);
    font-size: 18px;
    color:#3A3A3A;
} 

.counter_btn {
    padding: 5px 15px;

    border: 1px solid #3A3A3A;
    border-radius: 10px;

    display: flex;
    /* align-items: center; */
    gap: 30px;

}

.counter_btn button {
    font-size: 36px;
    line-height: 20px;

    background-color: transparent;
    border: none;

    cursor: pointer;
    transition: var(--transition);
}

.cart_item_counter {
    width: 30px;

    font-size: 18px;
    font-weight: 600;
    
    text-align: center;
}

.item_discount_price,
.item_price {
    font-size: 16px;

    text-align: center;
    align-self: center;

}

.item_discount_price {
    font-size: 40px;
    width: 90px;
    font-weight: var(--normal-text);
}

.item_price {
    padding-right: 70px;
    
    font-weight: var(--medium-text);
    color: #8b8b8b;
    text-decoration: line-through;

}

.close_icon {
    position: absolute;
    font-size: 20px;
    top: 48px;
    right: 0;

    cursor: pointer;
}

@media (max-width: 1300px) {
    .cart_item_wrapper {
        gap: 15px;
    }
    .cart_item_title {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .item_price {
        padding-right: 0;
    }
}

@media (max-width: 580px) {
    .cart_item_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .counter_wrapper {
        align-items: center;
        text-align: center;
    }
}