.footer_section{
    margin-bottom: 30px;
}

iframe{
    width:100%; 
    height:525px;
}

 /* @media (max-width: 500px) {
.footer_section{
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    }
}  */
